.container{
      display: flex;
      justify-content: center;
    width:100%;
    height:491px;
    /* border:1px solid black;
    padding: 5px; */
    /* margin-top: 20px; */
    background-color: #c8d9ef;
}
.form{
    height:100%;
    width:60%;
    background-color: #f0f0f0;
}



.imgContainer{
    width:100%;
    height:30%;
    display: flex;
    justify-content: center;
    background-color: #639cf5;
   
    
}

.imgContainer img{
       width:100%;
    height: 137px;
    padding-top:20px ;
     object-fit: contain;

}

.text{
    width:100%;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    background-color: #639cf5;
}

.data{
    height:56%;
    width:100%;
    
    margin-top: 0px;
    padding-top:0px;
}


.value{
    width:100%;
    height:30%;

    margin-top: 2px;
    
   
}

.heading{
    width: 100%;
    height:50%;
    color:#bababf;
    display:flex;
    flex-flow: column;
    justify-content: center;
     font-size: 21px;
     padding-left: 5px;

}

.holder{
    width: 100%;
    height:50%;   
    color: #202528;
    display:flex;
    flex-flow: column;
    justify-content: center;
    font-size: 22px;
    padding-left: 5px;
}
.bar{
    width:100%;
    height:18%;
    background-color: black;
}

