.container{
    display: flex;
    width:100%;
    height:491px;
    /* border:1px solid black; */
    padding: 5px;
    /* margin-top: 20px; */
    background-color: #c8d9ef;
}

.photo{
    width:50%;
    height:100%;
    
    /* border:1px solid black; */
}
.pic{
    width:100%;
    height:100%;
    object-fit: contain;
}
.form{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap:10px;
    /* border:1px solid black; */
    /* background-color:; */
}

.formhead{
    display: flex;
    justify-content: center;
   /* padding-left: 158px; */
    width:100%;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #315288;
 }

.field{
     width:50%;
     height: auto;
     font-size: 14px;
     padding: 3px;
     background-color: #fafafa;
     border-radius: 5px;

}



.btn{
    width:50%;
    font-size: 20px;
    padding: 3px;
     
     border-radius: 5px;
     color: white;
     background-color: #226bb8;
     margin-top: 3px;
     cursor: pointer;
}

.forgot{
    width:50%;
    display: flex;
    justify-content: flex-end;
    color: #214b98;
    text-decoration: none;
}
.linkbtn{
    text-decoration: none;
    color: white;
     
}
.inputdiv{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 5px;
    gap:3px;
}
.inputpic{
    width: 35px;
    height: 32px;
}